.example-container {
  width: 600px;
  max-width: 100%;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
}
h1, h2, h3, h4, h5, h6{
  margin-top:20px;
  margin-bottom:10px;
  margin-left: 10px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 30px;
}

.mat-slider-horizontal {
  width: 100px;
}

.fxFlex{
  flex: 100 1 auto;
}
