
<mat-card class = example-container>
<mat-card-header>
  <mat-card-title>Available Methods
    <button mat-icon-button color="primary" (click)="onClick()">
      <mat-icon class="mat-18">refresh</mat-icon>
    </button>
  </mat-card-title>

</mat-card-header>
<mat-card-content>

  <ul cdkDropList
      cdkDropList
      id = "list1"
      [cdkDropListData]="this?.response"
      [cdkDropListConnectedTo]="['list2']"
      class="robotmethods"
      (cdkDropListDropped)="drop($event)"
  >

    <li *ngFor="let move of this?.response; let i = index"
        [class.selected]="move === selectedJob"
        (click)="onSelect(move)" cdkDrag>

      <span class="badge">{{i}}</span>{{move}}
    </li>

  </ul>
</mat-card-content>

</mat-card>
<mat-card class = example-container>
  <mat-card-header>
    <mat-card-title>Selected Methods</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name of Workflow" [formControl]="nameFormControl" [(ngModel)]="name"
               [errorStateMatcher]="matcher">
        <mat-hint>Enter Name</mat-hint>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <br>
    <ul cdkDropList
        cdkDropList
        id = "list2"
        [cdkDropListData]="selectedJobs"
        [cdkDropListConnectedTo]="['list1']"
        class="robotmethods"
        (cdkDropListDropped)="drop($event)"
    >

      <li *ngFor="let move of selectedJobs let i = index"
          [class.selected]="move === selectedJob"
          (click)="onSelect(move)" cdkDrag>
        <span class="badge">{{i}}</span> {{move}}
      </li>
    </ul>

  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-row">
      <button mat-icon-button color="warn" (click)="onResetClick()">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onSaveClick()" [disabled]="!nameFormControl.valid">
        <mat-icon class="mat-18">done</mat-icon>
      </button>
      <div fxFlex></div>
      <button mat-icon-button color="primary" (click)="onNextClick()" [disabled]="isDisabledNext">
        <mat-icon class="mat-18">navigate_next</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
