<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element._name}} </td>
  </ng-container>

  <!-- created Column -->
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> created </th>
    <td mat-cell *matCellDef="let element"> {{element._created_at | date}} </td>
  </ng-container>


  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
        <mat-icon class="mat-18"> add </mat-icon>
      </button>
    </th>

    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click) ="onPlayClick(element._id)">
        <mat-icon class="mat-18"> play_circle_outline</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="onUpdateClick(element._id)">
        <mat-icon class="mat-18"> border_color</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onDeleteClick(element._id)">
        <mat-icon class="mat-18">delete_forever</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

