<h1>{{title}}</h1>
<mat-card class="example-container">
  <mat-card-subtitle>Activation Timeout</mat-card-subtitle>
  <mat-card-content>
    <section class="example-section">
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [(ngModel)]="value"
        [vertical]="vertical">
      </mat-slider>

      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Value" [(ngModel)]="value">
        <mat-hint>Timeout</mat-hint>
      </mat-form-field>
    </section>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-container">
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onPreviousClick()">prev</button>
    <div fxFlex></div>
    <button mat-raised-button color="primary" (click)="onNextClick()">next</button>
  </mat-card-actions>
</mat-card>
