<p>overview works!</p>



<mat-card class = example-container>
  <mat-card-header>
    <mat-card-title>List of Workflows</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-selection-list #wfList>
      <mat-list-option *ngFor="let wf of workflowList">
        Hier bin ich {{wf.name}}
      </mat-list-option>
    </mat-selection-list>

  </mat-card-content>
<!--  <mat-card-actions>-->
<!--    <div class="example-button-row">-->
<!--      <button mat-raised-button color="warn" (click)="onResetClick()">reset Workflow</button>-->
<!--      <button mat-raised-button color="primary" (click)="onSaveClick()">save Workflow</button>-->
<!--    </div>-->
<!--  </mat-card-actions>-->

<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary" (click)="onNextClick()" [disabled]="isDisabledNext">next</button>-->
<!--  </mat-card-actions>-->

</mat-card>
