
<button (click)="dataClick()">show Workflows</button>

<ul class ="robotmethods" >

  <li *ngFor="let workflow of httpResult.result.workflows, index as i"
      [class.selected]="workflow === selectedRobotmethod"
      (click)="onSelect(workflow)">

    <span class="badge">{{i}}</span> {{workflow}}

  </li>

</ul>

<!--
<h2>My Robotmethods</h2>
<ul class="robotmethods">
  <li *ngFor="let robotmethod of robotmethods"
      [class.selected]="robotmethod === selectedRobotmethod"
      (click)="onSelect(robotmethod)">
    <span class="badge">{{robotmethod.id}}</span> {{robotmethod.name}}
  </li>
</ul>

<div *ngIf="selectedRobotmethod">

  <h2>{{selectedRobotmethod.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedRobotmethod.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedRobotmethod.name" placeholder="name"/>
    </label>
  </div>

</div>
-->
