
<button (click)="dataClick()">show Workflows</button>
<button (click)="resetClick()">reset Workflow</button><br>

<div class = example-container>
<h2>Available Methods</h2>

  <!--<ul [ngSwitch]="loaded">-->

    <ul cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="httpResult?.result.workflows"
        [cdkDropListConnectedTo]="[doneList]"
        class="robotmethods"
        (cdkDropListDropped)="drop($event)"
        >

      <li *ngFor="let workflow of httpResult?.result.workflows, index as i"
          [class.selected]="workflow === selectedRobotmethod"
          (click)="onSelect(workflow)" cdkDrag>

        <span class="badge">{{i}}</span> {{workflow}}

      </li>

    </ul>

    <!--<ul *ngSwitchDefault></ul>

  </ul>-->
</div>

<div class = example-container>
<h2>choosen Methods</h2>

  <!--<ul [ngSwitch]="loaded">-->

      <ul cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="selectedRobotmethods"
          [cdkDropListConnectedTo]="[todoList]"
          class="robotmethods"
          (cdkDropListDropped)="drop($event)"
      >

        <li *ngFor="let workflow of selectedRobotmethods, index as i"
            [class.selected]="workflow === selectedRobotmethod"
            (click)="onSelect(workflow)" cdkDrag>

          <span class="badge">{{i}}</span> {{workflow}}

        </li>

      </ul>
    <!--<ul *ngSwitchDefault></ul>

  </ul>-->

</div>
