<mat-divider></mat-divider>
<mat-toolbar color="primary"> {{title}}</mat-toolbar>

<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
<!--  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--</button>-->
<mat-horizontal-stepper linear="true" #stepper>
  <mat-step label="Teach Robot" completed="false">
<!--    <div>-->
<!--      <button mat-button matStepperNext>Next</button>-->
<!--    </div>-->
  </mat-step>
  <mat-step label="Confirm Workflow" completed="false">
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button matStepperNext>Next</button>-->
<!--    </div>-->
  </mat-step>
  <mat-step label="Run Workflow" completed="false">
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button matStepperNext>Next</button>-->
<!--    </div>-->
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<!--<div>-->
<!--  <button (click)="goBack(stepper)" type="button">Back</button>-->
<!--  <button (click)="goForward(stepper)" type="button">Next</button>-->
<!--</div>-->


<router-outlet></router-outlet>
