<mat-divider></mat-divider>
<mat-toolbar color="primary">
  <mat-icon class="mat-18"> settings </mat-icon>
  <span style="padding-left: 10px">
  {{title}}
  </span>
</mat-toolbar>

<!-- Steps display -->
<mat-horizontal-stepper linear="true" #stepper>
  <mat-step label="Teach Robot" completed="false">
  </mat-step>
  <mat-step label="Confirm Workflow" completed="false">
  </mat-step>
  <mat-step label="Run Workflow" completed="false">
  </mat-step>
  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
<!-- Calls and displays Child Display. e.g. Wizard-gripper-grip -->
<router-outlet></router-outlet>
