<h1>{{title}}</h1>
<mat-card class="example-container">
  <mat-card-subtitle>Activation Timeout</mat-card-subtitle>
  <mat-card-content>
    <section class="example-section">
      <mat-slider
        class="example-margin"
        [disabled]="disabledActTimeout"
        [invert]="invertActTimeout"
        [max]="maxActTimeout"
        [min]="minActTimeout"
        [step]="stepActTimeout"
        [thumbLabel]="thumbLabelActTimeout"
        [(ngModel)]="valueActTimeout"
        [vertical]="verticalActTimeout">
      </mat-slider>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Value" [(ngModel)]="valueActTimeout">
        <mat-hint>Timeout</mat-hint>
      </mat-form-field>
    </section>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-container">
  <mat-card-subtitle>Goal Position</mat-card-subtitle>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="onGetPostionClick()">
      <mat-icon class="mat-18">my_location</mat-icon>
    </button>
    {{goalPose}}
  </mat-card-actions>
</mat-card>
<br>
<mat-card class="example-container" [ngSwitch]="this.goalPose">
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" (click)="onPreviousClick()">
      <mat-icon class="mat-18">navigate_before</mat-icon>
    </button>
    <div fxFlex></div>
    <button mat-icon-button color="primary" (click)="onNextClick()" *ngSwitchCase="null" [disabled]="isDisabledNext">
      <mat-icon class="mat-18">navigate_next</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onNextClick()" *ngSwitchDefault>
      <mat-icon class="mat-18">navigate_next</mat-icon>
    </button>
<!--    <button mat-raised-button color="primary" (click)="onPreviousClick()">prev</button>-->
<!--    <div fxFlex></div>-->
<!--    <button mat-raised-button color="primary" (click)="onNextClick()" [disabled]="isDisabledNext">next</button>-->
  </mat-card-actions>
</mat-card>
