<h3>Workflow Name: {{workflow.name}}</h3>
<h3>Workflow ID: {{workflow.id}}</h3>
<mat-accordion class="example-container" multi="true">
  <mat-expansion-panel *ngFor="let job of workflow.getJobs(); index as i"
                       [ngSwitch]="job.name" expanded="true">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{job.name}}
      </mat-panel-title>
      <mat-panel-description>
        Show Parameters
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <label>Activation Timeout:</label>
      <input matInput type="number" placeholder="Value" [(ngModel)]="job.activationTimeout">
    </div>
    <p  *ngSwitchCase="'BaseMove'"> Goal Position:
      <br>
      {{job.goalPose}}</p>
    <p  *ngSwitchCase="'ArmCartesian'"> Goal Position:
      <br>
      {{job.goalPose}}</p>

  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-card class="example-container" >
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="backOnClick()">
      <mat-icon class="mat-18">navigate_before</mat-icon>
    </button>
    <div fxFlex></div>
    <button mat-icon-button color="primary" (click)="saveOnClick()">
      <mat-icon class="mat-18">done</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="runOnClick()" [disabled]="isDisabledRun">
      <mat-icon class="mat-18">play_circle_outline</mat-icon>
    </button>

<!--    <button mat-raised-button color="primary" (click)="backOnClick()">back</button>-->
<!--    <div fxFlex></div>-->
<!--    <button mat-raised-button color="primary" (click)="saveOnClick()">OK</button>-->
<!--    <button mat-raised-button color="primary" (click)="runOnClick()" [disabled]="isDisabledRun">run</button>-->
  </mat-card-actions>
</mat-card>

